main {
    display: flex;
    flex-direction: column;
    margin-top: 6em;
    width: calc(100vw - 3em);
    align-items: center;
}

section.first {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    width: 85%;
}

section.first.user .hello_div { width: calc(70% - 4em); }

.hello_div {
    background: #ffb10f;
    height: 10em;
    width: 100%;
    text-align: center;
    padding: 7.5em 2em 2em;
    border-radius: 1em;
    z-index: 3;
}

.hello_div h3 {
    font-family: 'montserrat';
    color: #222;
    font-size: 1.7em;
}

.hello_div .sub_title {
    font-family: 'montserrat';
    color: #222;
    font-size: .9rem;
    margin-top: 5px;
}

.user_infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    margin-left: 5%;
    max-width: 300px;
}

.user_infos .usr {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user_infos .usr img {
    width: 10em; /* les mesures ont été calculées ici */
    height: 10em;
    object-fit: cover;
    overflow: hidden;
    border-radius: 1em;
    box-shadow: 8px 8px 60px 1px #3a3a3a,
                8px -8px 60px 1px #3a3a3a,
                -8px 8px 60px 1px #3a3a3a,
                -8px -8px 60px 1px #3a3a3a;
    z-index: -1;
}

.user_infos .usr span {
    font-family: 'montserrat';
    color: #ffb10f;
    font-size: 1.3rem;
    margin-top: 15px;
    text-align: center;
    z-index: 1;
}

.user_infos .box_links {
    margin-top: 20px;
    height: 3em;
    padding: 1em;
    width: calc(100% - 2em);
    background: #111;
    border-radius: 1em;
    max-width: 120px;
    box-shadow: 10px 10px 5em 4px #1a1a1a,
                10px -10px 5em 4px #1a1a1a,
                -10px 10px 5em 4px #1a1a1a,
                -10px -10px 5em 4px #1a1a1a;
}

.user_infos .box_links div {
    opacity: 1;
    transition: all .4s;
    cursor: pointer;
}

.user_infos .box_links div:hover { opacity: .8; }

.user_infos .box_links div i {
    position: absolute;
    font-size: 1.4rem;
    color: #ffb10f;
}

.user_infos .box_links div a {
    position: relative;
    text-decoration: none;
    font-family: 'montserrat';
    font-size: .9rem;
    color: #fff;
    top: 2px;
    left: 1.7rem;
}

.user_infos .box_links .params {
    position: relative;
    top: 10px;
}

section.search {
    width: 85vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search_bar {
    border: solid 2px #ffb10f;
    background: #222;
    border-radius: 2.5em;
    width: 300px;
    margin: 20px 0;
    z-index: 1;
}

.search_bar label i {
    font-size: 1.5rem;
    margin: 6px 10px 8px 10px;
    color: #ffb10f;
    cursor: pointer;
    opacity: 1;
    transition: all .4s;
}

.search_bar label i:hover { opacity: .8; }

.search_bar input {
    margin: 0;
    position: relative;
    top: -1px;
    left: -8px;
    border: none;
    outline: 0;
    background: none;
    font-family: 'montserrat';
    font-size: 1.2rem;
    width: calc(100% - 1.5rem - 30px);
    text-align: center;
    color: #fff;
}

.search_bar input::placeholder { color: #ffb10f; }

.pages {
    display: flex;
    flex-direction: row;
    padding: 10px 20px 10px 0;
    background: #ffb10f;
    height: 2.5em;
    width: calc(100% - 20px);
    border-radius: 1em;
    margin: 20px 0;
    box-shadow: 5px 5px 10em 5px #ffaf0f20,
                5px -5px 10em 5px #ffaf0f20,
                -5px 5px 10em 5px #ffaf0f20,
                -5px -5px 10em 5px #ffaf0f20;
}

.pages .margin { margin-left: 20px; }

.pages .index {
    margin-top: 5px;
    font-family: 'montserrat';
    color: #fff;
    font-size: 1.5rem;
}

.pages .index span {
    padding: 0 10px;
    cursor: pointer;
    pointer-events: fill;
    opacity: 1;
    transition: all .4s;
}

.pages .index span.selected {
    background: #222;
    border-radius: 10px;
}

.pages .index span:hover { opacity: .8; }

.pages .text {
    position: relative;
    top: 8px;
    left: calc(85vw - 400px);
    font-family: 'montserrat-bold';
    font-size: 1.2rem;
    text-decoration: none;
    transition: all .2s;
    opacity: 1;
    cursor: pointer;
    color: #222;
}

.pages .text:hover {
    text-decoration: underline 2px #222;
    opacity: .9;
}

.results {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 10px);
}

.result {
    border: 5px solid #ffb10f;
    border-radius: 1em;
    background: #222;
    width: 60%;
    height: 100px;
    padding: 1em;
    margin: 15px 0;
    min-width: 500px;
    cursor: pointer;
}

.result .part1, .result .part2 {
    display: flex;
    flex-direction: row;
}

.result .re_title {
    font-family: 'montserrat';
    font-size: 1.2rem;
    color: #ffb10f;
    margin: 0 20px;
}

.result .part1 .infos {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}

.result .part1 .infos div {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    align-items: center;
}

.result .part1 .infos div i {
    font-size: 1.5rem;
    color: #ffb10f;
    margin-bottom: 6px;
}

.result .part1 .infos div span {
    font-family: 'montserrat';
    font-size: 1rem;
    color: #fff;
}

.result .part1 .release_date {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
}

.result .part1 .release_date .date_text {
    font-family: 'montserrat';
    font-size: .7rem;
    color: #ffb10f;
}

.result .part1 .release_date .date {
    font-family: 'montserrat';
    margin-top: 5px;
    font-size: .8rem;
    color: #eee;
}

.result .part1 .params {
    width: calc(48% - 4em);
    height: 3em;
    position: relative;
    left: 2em;
}

.result .part1 .parameters {
    transform: rotate(90deg);
    position: absolute;
    top: -5px;
    right: -10px;
    cursor: pointer;
    transition: all .4s;
}

.result .part1 .parameters .icon {
    color: #ffb10f;
    font-size: 3rem;
}

.result .part1 .parameters:hover { opacity: .8; }

.result .part1 .options {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 1.5em;
    right: calc(15% - 4em);
    background: #1a1a1a;
    border: 1px solid #2a2a2a;
    padding: 5px 8px;
    border-radius: 5px;
    opacity: 0;
    transition: all .7s;
}

.result .part1 .options div {
    display: block;
    position: relative;
    color: #ddd;
    font-size: 14px;
    opacity: 1;
    cursor: pointer;
    transition: all .4s;
    text-decoration: none;
    margin: 1px;
}

.result .part1 .options div:nth-child(1) { margin-bottom: 4px; }

.result .part1 .options.active { opacity: 1; }

.result .part1 .options div:hover {
    opacity: .8;
    text-decoration: underline 1px #dddddd90;
}

.result .part2 { margin-top: 25px; }

.result .part2 div {
    font-family: 'montserrat';
    color: #ddd;
    font-size: .8rem;
}

.result .part2 .moderation { margin: 0 20px; }

.result .part2 .moderation .active {
    color: #ffb10f;
    font-size: .9rem;
    margin: 0 2px;
    font-weight: thin;
}

.box_newDiscuss {
    opacity: 0;
    background: #222222dd;
    transition: all 1s;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -10;
    padding-top: calc(25vw - 4em);
}

.box_newDiscuss i {
    color: #ffb10f;
    font-size: 2.5rem;
    position: absolute;
    right: 3em;
    top: calc(25vw - 4em);
    opacity: 1;
    transition: all .4s;
    cursor: pointer;
}

.box_newDiscuss i:hover { opacity: .8; }

.box_newDiscuss,
.box_newDiscuss .content,
.box_newDiscuss .content form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box_newDiscuss .content {
    background: #111;
    padding-bottom: 1.6em;
}

.box_newDiscuss .content h2 {
    color: #eee;
    margin: 1em;
}

.box_newDiscuss .content form input[type="text"] {
    background: #000;
    border: none;
    padding: 5px 7px;
    border-radius: 20px;
    width: 200px;
    font-family: 'montserrat';
    color: #fff;
    outline: none;
}

.box_newDiscuss .content form input[type="text"]::placeholder { color: #aaa; }

.box_newDiscuss .content form input[type="checkbox"] {
    position: relative;
    width: 40px;
    height: 20px;
    top: 8px;
    -webkit-appearance: none;
    background: #ddd;
    outline: none;
    border-radius: 10px;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, .2);
    transition: .5s;
}

.box_newDiscuss .content form input[type="checkbox"]:checked { background: #ffb10f; }

.box_newDiscuss .content form input[type="checkbox"]::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    top: 0;
    left: 0;
    background: #ffb10f;
    transform: scale(1.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .5);
    transition: .5s;
    cursor: pointer;
}

.box_newDiscuss .content form input[type="checkbox"]:checked::before { left: 20px; }

.box_newDiscuss .content form .checkbox_m .text {
    cursor: pointer;
    color: #eee;
    font-size: 1rem;
}

.box_newDiscuss .content form input[type="submit"] {
    border: solid #ddd 1px;
    background: #111;
    padding: 5px 7px;
    color: #fff;
    font-family: 'montserrat';
    border-radius: 20px;
    cursor: pointer;
    opacity: 1;
    transition: all .4s;
}

.box_newDiscuss .content form input[type="submit"]:hover { opacity: .7; }

.box_newDiscuss.active {
    opacity: 95%;
    z-index: 10;
}
