html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    font-family: 'montserrat';
}

body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var,b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video { box-sizing: inherit; }

html { box-sizing: border-box; }

body { background-color: #222; }

body::-webkit-scrollbar { width: 10px }

body::-webkit-scrollbar-track { background: #161616; }

body::-webkit-scrollbar-thumb { background-color: #444444 }

svg:not(:root) { display: block }

input[type="checkbox"] { cursor: pointer }

@font-face {
    font-family: "montserrat";
    src: url("../fonts/montserrat/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "montserrat-bold";
    src: url("../fonts/montserrat/Montserrat-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway/Raleway-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Raleway-bold";
    src: url("../fonts/montserrat/Montserrat-SemiBold.ttf") format("truetype");
}

header {
    position: fixed;
    background: #111;
    z-index: 10;
    top: 0;
    width: 100%;
    height: 5.4em;
}

header.active {
    height: 15em;
}

.title {
    position: fixed;
    padding: 30px 20px;
}

.title .ttl {
    font-family: 'Raleway';
    font-size: 2rem;
    color: #fff;
}

.menu { display: none; }

.menu.active {
    display: flex;
    flex-direction: row;
    position: fixed;
}

.menu_lists {
    display: flex;
    flex-direction: row;
    width: 24em;
}

.menu_lists ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-right: 6em;
}

.menu_lists ul h3 {
    font-family: 'montserrat';
    font-size: 1.2rem;
    color: #fff;
    margin: 10px 0;
}

.menu_lists ul li  {
    opacity: 1;
    transition: all .4s;
    margin: 2px 0;
}

.menu_lists ul li:hover { opacity: .8; }

.menu_lists ul li a {
    font-family: 'montserrat';
    font-size: 1rem;
    color: #ddd;
    text-decoration: none;
}

.menu_lists ul li:hover a { text-decoration: underline 1px #fff; }

.menu_toggler {
    width: 25px;
    height: 25px;
    position: fixed;
    top: 0;
    right: 0;
    margin: 25px 30px;
    cursor: pointer;
}

.menu_toggler i {
    color: #ffB10f;
    font-size: 2.4rem;
}

.anim_toggler_menu {
    position: absolute;
    top: -12px;
    left: -14px;
    width: 60px;
    height: 60px;
    background-color: #666;
    opacity: .5;
    border-radius: 60px;
    pointer-events: none;
    z-index: -1;
    visibility: hidden;
}
